@model IEnumerable<SimpleFactory.Models.Factory>

@{
    ViewBag.Title = "hahaah";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Firmy</h2>


@using (Html.BeginForm())
{
    <b>Name:</b>
    @Html.TextBox("searchTerm", null, new { id = "txtSearch"})
    <input type="submit" value="Search" />
}




<ol>
    @foreach (var lista in Model)
    {
        //<li>@Html.ActionLink(lista.FactoryName, "Details", "Employers", new { FacotryId = lista.FactoryId })</li>
        

        <li><a href="@Url.Action("Details", "Factories", new { id = lista.FactoryId})">@lista.FactoryName</a></li>

    }
</ol>
