@model IEnumerable<SimpleFactory.Models.Factory>

@{
    ViewBag.Title = "hahaah";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Firmy</h2>

<ol>
    @foreach (var lista in Model)
    {
        //<li>@Html.ActionLink(lista.FactoryName, "Details", "Employers", new { FacotryId = lista.FactoryId })</li>
        

        <li><a href="@Url.Action("Details", "Factories", new { id = lista.FactoryId})">@lista.FactoryName</a></li>

    }
</ol>
