
@{
    ViewBag.Title = "hahaah";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Firmy</h2>

<ol>
    <li><a href="Firma1.html">Firma 1</a></li>
    <li><a href="Firma2.html">Firma 2</a></li>
</ol>